<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- Add any necessary CSS links or styles here -->
</head>
<body>
<div style="margin-top:50px;" class="ui container">
    <h1 class="ui center aligned header">To Do App</h1>
<form class="ui form" action="/add" method="post">
    <div class="field">
        <label>Todo Title</label>
        <input type="text" name="title" required="True" placeholder="Enter Todo..."/><br>
    </div>
    <button class="ui blue button" type="submit">Add</button>
</form>
</div>
{% if todos | length == 0 %}
   {{todos | length}} No data found
{% endif %}
<hr>
{% for todo in todos %}
<div class="ui segment">
    <p class="ui big header">{{todo.id }} | {{ todo.title }}</p>
    {% if todo.complete == False %}
    <span class="ui gray label">Not Complete</span>
    {% else %}
    <span class="ui green label">Completed</span>
    {% endif %}
    <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
    <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
</div>
{% endfor %}

</body>
</html>